body
{
  margin: 0;
  /* text-align: center; */
  font-family: 'Merriweather', serif;
}

.logo
{
  font-size: 180%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-left: 2%
}

.tentstart
{
background-color: #9693e6;
padding: 3%;
margin-bottom: 5%;
}

.tentpic
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.tenttitle
{
font-size: 160%;
font-family: 'Montserrat', sans-serif;
color: #9693e6;
margin-bottom:7%;
}

.tentmain
{
text-align: center;
font-family: 'Open Sans',sans-serif;
color: grey;
}


.review-text
{
  font-family: 'Open Sans',sans-serif;
  font-size: 2vw;
}

.review-main1
{
  background-color: lightpink;
  border-radius: 1.30vw;
  margin-left: auto;
  margin-right: auto;
}

.review-image
{
border-radius: 50%;
width: 50%;
margin-left: 10%;
margin-top: 10%;
}

.review-main2
{
  background-color: #FFFF99;
  border-radius: 1.30vw;
  margin-left: auto;
  margin-right: auto;
}


.colons
{
  font-size: 160%;
  font-family: sans-serif;
}

.review-title
{
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 160%;
}

.tab01
{
  background-color: skyblue;
  border-radius: 3.30vw;
  border: 2vw solid white;
  height: 66.66%;
}

.tab01_info01
{

  font-size: 160%;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Montserrat', sans-serif;
  color: #0084FF;
  font-weight: bold;

}

.tab01_info02
{

  padding: 0 4% 10% 4%;
  font-family: 'Montserrat', sans-serif;
  color: #3279BB;
  font-weight: bold;
}

.tab01_button
{
  padding: 2% 5% 2% 5%;
  border-radius: 150px;
  border: transparent;
  position: relative;
  margin-bottom: 8%;
  margin-left: 4%;
  background-color: #3279BB;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;

}

.tab01 img
{
  width: 50%;
  float: right;
  margin: 2%;
}


.tab01_button:hover {
  background-color: white;
  color: #3279BB;
}

.tab02
{
  background-color: #90EE90;
  border-radius: 3.30vw;
  border: 2vw solid white;
  height: 66.66%;
}

.tab02_info01
{
  color: #2E8B57;
  font-size: 160%;
  padding-left: 4%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.tab02_info02
{
  color: #3CB371;
  padding: 0 4% 10% 4%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.tab02_button
{
  padding: 2% 5% 2% 5%;
  border-radius: 150px;
  border: transparent;
  position: relative;
  margin-bottom: 8%;
  margin-left: 4%;
  background-color: #2E8B57;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.tab02_button:hover {
  background-color: white;
  color: #2E8B57;
}
.tab02 img
{
  width: 50%;
  float: right;
  margin: 2%;

}
.yoga{
  background-color: #e9e9e9;
  background: linear-gradient(90deg, white,#e9e9e9);
  margin-right: 2vw;
  margin-bottom: 4vw;
  margin-top:4vw;
  display: flex;
  flex-direction: row;
}
.yoga p{
  margin-top: 2vw;
  color: grey;
}
.yoga .tab02_button
{
  background-color: grey;
}
.yoga .tab02_button:hover
{
  color: grey;
  background-color: white;
}
.para{
  padding-right: 4vw;
  padding-left: 0.2vw;
  
}
.perks{
  background-color: #9693e6; 
  margin-bottom: 2vw;
  padding-bottom: 2vw;
}
.perks h1{
  padding-top:1vw;
  font-weight: bold;
}
.perks p{
  padding-left: 3vw;
  padding-right: 3vw;
  font-weight: bold;
}
.card1{
  padding-top: 1vw;
}
.card2{
  padding-top: 2vw;
  margin: auto;
}
.container-card{
  margin: auto;
  background-color: white;
  width: 80%;
  border-radius: 1.6vw;
  padding-bottom: 2vw;
  
}
.register-btn{
  background-color: #9693e6;
    border-radius: 1.3vw;
    color: white;
    font-family: sans-serif;
    border: 0;
    height: 40%;
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 130%;
}

